/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.offers {
  margin-top: 20px;
}
.offers li {
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
}
.offer {
  overflow: auto;
}
.offer .title, .offer .payout, .offer .thumbnail {
  display: inline;
}
.offer .title {
  margin-left: 10px;
}
.offer .thumbnail{
  float: left;
}
