/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.offers {
  margin-top: 20px;
}
.offer {
  overflow: auto;
  border-bottom: 1px solid #333333;
  margin-bottom: 20px;
  padding-left: 20px;
}
.offer .title {
  display: inline;
  margin-left: 10px;
}
.offer .payout{
  display: inline;
}
.offer .thumbnail{
  float: left;
  display: inline;
}
